@mixin arrows {
    position: absolute;
    width: 77px;
    height: 84px;
    border: 1px solid rgba(16, 16, 16, 0.6);
    bottom: -12px;
    right: 150px;
    z-index: 10;
    background-color: #eeedee;
    display: flex;
    justify-content: center;
    align-items: center;  
}

@mixin close-befafter {

    &::before, &::after {
        content: "";
        position: absolute;
        left: 15px;
        width: 2px;
        height: 33px;
        background-color: $main-color;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}