.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 500px;
    background-color: $main-color;

    &::before {
        content: "";
        position: absolute;
        width: 160px;
        height: 160px;
        border-radius: 100%;
        border: solid 1px $main-color;
    }

    &_promo {
        position: absolute;
        top: 103px;
        right: 0;
        left: 148px;

        &::before {
            left: 10px;
        }
    }

    &_direction {
        position: absolute;
        top: 58px;
        right: 145px;
        width: 200px;
        height: 200px;
        text-align: center;
        font-size: 16px;
        line-height: 110%;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            box-shadow: 3px 3px 20px $main-color; 
            background-color: #ca4a41;
        }

        &::before {
            left: 10px;
            width: 220px;
            height: 220px;
        }
    }

    &_diploms {
        position: absolute;
        z-index: 10;
        top: 39px;
        right: 78px;
        width: 200px;
        height: 174px;
        background: url("../img/circle-photo.png");
        opacity: 0.8;

        &::before {
            left: 23px;
            width: 194px;
            height: 192px;
        }
    }

    &_register {
        position: relative;
        width: 200px;
        height: 200px;
        text-align: center;
        font-size: 16px;
        line-height: 110%;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            box-shadow: 3px 3px 20px $main-color; 
            background-color: #ca4a41;
        }

        &::before {
            left: 10px;
            width: 220px;
            height: 220px;
        }
    }

    &_footer {
        position: relative;
        width: 145px;
        height: 145px;

        &::before {
            display: none;
        }
    }

    &_modal {
        margin: 0 auto;

        &::before {
            left: 10px;
        }
    }
}