@media (max-width: 1439px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }

    .circle {
        &_direction {
            top: -135px;

            &:hover {
                box-shadow: none; 
                background-color: $main-color;
            }
        }

        &_diploms {
            right: 23px;
        }

    }

}

@media (max-width: 992px) {
    .container {
        max-width: 695px;
    }
    .circle {
        &_direction {
            top: auto;
            right: 57px;
            bottom: -177px;
            width: 175px;
            height: 175px;
    
            &:hover {
                box-shadow: none; 
                background-color: $main-color;
            }
        }
        &_register {

            &:hover {
                box-shadow: none; 
                background-color: $main-color;
            }
        }

        &_promo {
            top: 171px;
            left: 85px;
        }

        &_diploms {
            top: 3px;
            right: 15px;
            width: 189px;
            height: 177px;

            &::before {
                left: 16px;
                width: 182px;
                height: 176px;
            }
        }
    }
}

@media (max-width: 767px) {                     
                                                     
    .container {
        max-width: 540px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}