@media (max-width: 1439px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }

    .circle {
        &_direction {
            top: -135px;

            &:hover {
                box-shadow: none; 
                background-color: $main-color;
            }
        }

        &_diploms {
            right: 23px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 695px;
    }
    .circle {
        &_direction {
            top: auto;
            right: 52px;
            bottom: -177px;
            width: 175px;
            height: 175px;

            &::before {
                left: 13px;
                bottom: 12px;
                width: 170px;
                height: 175px;
            }
    
            &:hover {
                box-shadow: none; 
                background-color: $main-color;
            }
        }

        &_promo {
            top: 171px;
            left: 85px;
        }

        &_diploms {
            top: 3px;
            right: 15px;
            width: 189px;
            height: 177px;

            &::before {
                left: 16px;
                width: 182px;
                height: 176px;
            }
        }

        &_register {
            width: 160px;
            height: 160px;
            font-size: 14px;

            &::before {
                left: -20px;
                bottom: 0;
                width: 180px;
                height: 180px;
            }

            &:hover {
                box-shadow: none; 
                background-color: $main-color;
            }
        }

        &_footer {
            width: 100px;
            height: 100px;

            img {
                max-width: 50px;
                max-height: 50px;
            }
        }
    }
}

@media (max-width: 767px) {                     
                                                     
    .container {
        max-width: 540px;
    }
    .circle {
        &_promo {
            top: 171px;
            left: 20px;
        }

        &_direction {
            right: 90px;
            &::before {
                left: 17px;
                bottom: 0px;
                width: 175px;
                height: 175px;
            }
        }

        &_diploms {
            top: 3px;
            right: 15px;
            width: 119px;
            height: 107px;
            background: url("../img/circle-photo.png") center (center/cover) no-repeat;

            &::before {
                left: 12px;
                width: 112px;
                height: 106px;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}