@media (max-width: 1439px) {
    .container {
        max-width: 1200px;
    }

}
@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }

    .register {
        &__wrapper {
            justify-content: space-around;
        }
    }

    
}
@media (max-width: 992px) {
    .container {
        max-width: 695px;
    }

    .register {
        margin-top: 118px;
        &__wrapper {
            justify-content: flex-start;
            padding-left: 18px;
            align-items: flex-end;

        }
    
        &__title {
            margin-left: 38px;
            margin-bottom: 5px;
            font-size: 50px;
            line-height: 110%;
        }

        &__subtitle {
            display: block;
            font-size: 59px;
            line-height: 100%;
        }
    }
}
@media (max-width: 767px) {                     
                                                     
    .container {
        max-width: 540px;
    }

    .register {
        margin-top: 40px;

        &__wrapper {
            flex-direction: column;
            align-items: center;
            padding-left: 12px;
        }
    
        &__title {
            margin-top: 30px;
            margin-left: 0;
        }
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
}