@media (max-width: 1439px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 695px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 600px) {
    .feed-form {
        &__item {

            &-img {

                &_theme {
                    max-width: 130px;
                }
            }

            &-title {
                font-size: 19px;

                &_instruction {
                    max-width: 215px;
                }
            }
        }

        &__radio-wrapper {
            flex-direction: column;
        }
    }

    input#instruction-social {
        &::placeholder {
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

@media (max-width: 576px) {
    .feed-form {
        &__label {
            margin-top: 28px;
            font-size: 22px;
            line-height: 120%;
        }

        &__input {
            margin-top: 20px;
            padding-left: 12px;
            font-size: 19px;

            &_pt5 {
                padding-right: 20px;

                &::placeholder {
                    font-size: 17px;
                }
            }
        }

        &__radio-wrapper {
            flex-direction: column;
        }

        &__radio-block {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        &__radio-label {
            margin-top: 10px;

            &_denied {
                margin-top: 0;
                margin-left: 12px;
            }
        }

        &__item {

            &-img {

                &_theme {
                    max-width: 130px;
                }
                
            }

            &-body {
                align-self: center;
                max-width: 270px;
                padding: 9px 5px 3px 11px;
            }

            &-date {
                max-width: 270px;
            }

            &-descr {
                display: block;
                max-width: 270px;
            }

            &-title {
                font-size: 19px;
            }

            &-date, &-duration, &-players {
                font-size: 16px;

                span {
                    font-size: 12px;
                }
            }
        }
    }

    #datepicker {
        font-size: 20px;
    }

    input#sign-date {
        margin-top: 20px;
        width: 100%;
    }

    input#instruction-social {
        font-size: 16px;
        padding-left: 10px;

        &::placeholder {
            font-size: 16px;
        }
    }
}

@media (max-width: 425px) {
    .feed-form {
        &__label {
            margin-top: 25px;
            font-size: 20px;
            line-height: 120%;
        }

        &__input {
            margin-top: 14px;
            padding-left: 11px;
            height: 55px;
            font-size: 16px;

            &_pt5 {
                padding-right: 20px;

                &::placeholder {
                    font-size: 16px;
                }
            }
        }

        &__radio-wrapper {
            flex-direction: column;
        }

        &__radio-block {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        &__radio-label {
            margin-top: 10px;

            &_denied {
                margin-top: 0;
                margin-left: 12px;
            }
        }

        &__item {
            &-img {
                max-width: 152px;
            }

            &-body {
                max-width: unset;
                padding: 9px 5px 3px 9px;
            }

            &-date {
                max-width: 170px;
            }

            &-descr {
                display: block;
                max-width: 170px;
            }

            &-title {
                max-width: 170px;
                white-space: unset;
                font-size: 19px;
            }

            &-date, &-duration, &-players {
                font-size: 16px;

                span {
                    font-size: 12px;
                }
            }
        }
    }

    #datepicker {
        font-size: 15px;
    }

    input#sign-date {
        width: 100%;
        font-size: 30px;  
    }

    input#instruction-social {
        font-size: 16px;

        &::placeholder {
            font-size: 13px;
        }
    }
}

@media (width < 375px) {
    .feed-form {
        &__label {
            font-size: 16px;
        }

        &__input {

            &_pt5 {
                padding-right: 10px;
            }
        }

        &__item {
            &-descr {
                display: flex;
                flex-direction: column;
                max-width: 160px;
            }

            &-title {
                font-size: 18px;
            }

            &-date, &-duration, &-players {
                font-size: 16px;

                span {
                    font-size: 13px;
                }
            }
        }
    }

    input#instruction-social {
        font-size: 16px;

        &::placeholder {
            font-size: 13px;
        }
    }

    #datepicker {
        font-size: 15px;
    }
}

@media (max-width: 375px) {
    .feed-form {

        &__item {

            &-img {
                max-width: 100px;
            }
        }
    }

    label#social-error {
        font-size: 16px;
    }  
}

@media (max-width: 335px) {
    .feed-form {

        &__input {

            &_pt5 {
                padding-right: 10px;

                &:placeholder-shown {
                    font-size: 22;
                }
            }
        }
    }
}
