@media (max-width: 1439px) {

    .container {
        max-width: 1200px;
        padding-left: 30px;
    }

}
@media (max-width: 1200px) {

    .container {
        max-width: 968px;
    }
    .formats {

        &__flex-wrapper {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__l-wrapper {
            display: flex;
        }
        &__overlay {

        }
    } 
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}
@media (max-width: 768px) {                     
                                                     
    .container {
        max-width: 540px;
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}