.formats {
    padding-top: 175px;

    &__wrapper {
        display: grid;
        position: relative;
        grid-template-columns: 60px 482px 555px;
        grid-template-rows: 247px 333px 340px 320px;
        /* grid-auto-rows: auto; */
        column-gap: 35px;
        row-gap: 50px;
        margin-top: 96px;

        &:nth-child(2) {
            
        }

        &:nth-child(4) {
            
        }

        &:nth-child(5) {
            
        }   
    }
 
    &__col-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_l-visible {
            display: none;
        }
    }

    &__overlay {
        display: flex;
        z-index: 10;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 665px;
        right: 0;
        width: calc(100% + 53px);
        height: 322px;
        background-color: rgba(238 237 238 / 60%);
        border: 1px solid $main-color;

        &_bt {
            top: auto;
            bottom: -25px;
        }
    }

    &__unavailable {
        margin-top: 55px;
        width: 552px;
        color: $main-color;
        font-size: 47px;
        line-height: 110%;
        text-transform: uppercase;
    }

    &__icon {
        justify-self: center;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }

        &_m-visible {
            display: none;
        }
    }

    &__item {
        width: 490px;
        padding-top: 20px;

        &:nth-child(9) {
            padding-top: 0;
        }

        &:nth-child(12) {
            padding-top: 0;
        } 
    }

    &__header {
        white-space: nowrap;
    }

    &__body {
        width: 482px;
        font-size: 12px;
        line-height: 160%;
        margin-top: 20px;
    }

    &__sign {
        margin-right: 30px;
        align-self: center;
        position: relative;
        font-size: 18px;
        line-height: 120%;
        color: $main-color;
        text-decoration: underline;
        text-underline-offset: 3px;
        cursor: pointer;

        &:hover {
            box-shadow: 1px 1px 20px $main-color; 
            color: #ca4a41;
        }

        &::before {
            content: "";
            position: absolute;
            right: -37px;
            width: 22px;
            height: 22px;
            background: url("../img/icons/arrow_sign.svg") center (center / cover) no-repeat;
        }
    }

    &__time {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        &-min {
            font-size: 60px;
            line-height: 110%;

            span {
                font-size: 30px;
            }
        }

        &-descr {
            text-align: right;
            font-size: 25px;
            line-height: 120%;
        }
    }

    &__price {
        align-self: center;
        color: $main-color;

        &-descr {
            text-align: right;
            font-size: 25px;
            line-height: 120%;
        }

        &-cost {
            font-size: 60px;
            line-height: 110%;
        }
    }
}