@media (max-width: 1439px) {

    .container {
        max-width: 1200px;
        padding-left: 30px;
    }

    .formats {
        padding-top: 175px;
        &__wrapper {
            grid-template-columns: 100px 490px 550px;
            column-gap: 10px;
        }

        &__overlay {
            width: calc(100% + 20px);
        }
    }
}
@media (max-width: 1200px) {

    .container {
        max-width: 968px;
        padding-right: 0;
    }
    .formats {
        &__wrapper {
            justify-content: center;
            grid-template-columns:  50px 850px;
            grid-template-rows: repeat(4, auto);
            margin-top: 85px;
        }

        &__col-wrapper {
            align-items: center;
            justify-content: space-around;
            grid-column: 2 / 3;
            
        }
        &__item {
            justify-self: center;
            width: 800px;
        }

        &__body {
            width: 815px;
            text-align: justify;
        }

        &__br {
            display: none;
        }
    
        &__header {
            display: flex;
            justify-content: flex-start;
            font-size: 31px;
            span {
                font-size: 32px;
                margin-left: 10px;
            }
        }
        &__body {
            font-size: 16px;
            line-height: 1.6;
        }
        &__sign {
            font-size: 20px;
            line-height: 1.2;
            text-transform: uppercase;
        }
            
        &__time {
            align-items: center;
    
            &-min {
                font-size: 36px;
                line-height: 1.1;
    
                span {
                    font-size: 26px;
                }
            }      
                
            &-descr {
                text-align: right;
                font-size: 20px;
                line-height: 1.2;
            }
        }

        &__price {

            &-cost {
                font-size: 36px;
            } 
        }

        &__overlay {
            grid-row: 5 / 7;
        }

        &__unavailable {
            margin-top: 0;
            width: 270px;
            font-size: 35px;
            line-height: 1.1;
            text-align: center;
        }
    } 
}
@media (max-width: 992px) {
    .container {
        max-width: 695px;
    }

    .formats {
        padding-top: 120px;

        &__wrapper {
            justify-content: center;
            grid-template-columns: 108px 577px;
            grid-template-rows: minmax(436px, auto) minmax(632px, auto) minmax(590px, auto) minmax(488px, auto);
            margin-top: 70px;
            column-gap: 10px;
            row-gap: 58px;
        }

        &__icon {
            justify-self: right;
            min-width: 60px;
        }

        &__col-wrapper {
            align-items: center;
            justify-content: space-between;
            justify-self: left;
            margin-top: 30px;
            width: 430px;

            &_l-hidden {
                display: none;
            }

            &_l-visible {
                display: flex;
            }
        
        }
        &__item {
            padding-top: 0;
            justify-self: flex-start;
            width: 482px;

        }
        &__body {
            margin-top: 29px;
            width: 445px;
            text-align: unset;
            font-size: 16px;
            line-height: 1.6;

            br {
                display: none;
            }
        }

        &__header {
            display: flex;
            justify-content: flex-start;
            font-size: 31px;
            span {
                font-size: 32px;
                margin-left: 10px;
            }
        }
        
        &__sign {
            font-size: 20px;
            line-height: 1.2;
            text-transform: uppercase;

            &::before {
                top: -5px;
                right: -33px;
                width: 33px;
                height: 33px;
            }
        }
            
        &__time {
            align-items: flex-end;
            justify-content: center;

            &-min {
                span {
                    font-size: 14px;
                    line-height: 110%;
                }
            }
    
            &-descr {
                font-size: 20px;
                line-height: 1.2;
                text-align: right;
            }       
        }
        &__price {
            width: 75px;
                
            &-descr {
                text-align: center;
            }

            &-cost {
                font-size: 36px;
            } 
        }

        &__unavailable {
            margin-top: 0;
            width: 270px;
            font-size: 35px;
            line-height: 1.1;
            text-align: center;
           
        }

        &__overlay {
            grid-row: 3 / 4;
        }
    } 
}
@media (max-width: 767px) {                     
                                                     
    .container {
        max-width: 540px;
    }

    .formats {
        padding-top: 95px;

        &__wrapper {
            justify-content: center;
            grid-template-columns: 540px;
            margin-top: 40px;
            column-gap: 10px;
            row-gap: 40px;
        }

        &__icon {

            &_m-visible {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                height: 60px;
            }
            &_m-hidden {
                display: none;
            }

            &_fs {
                justify-content: flex-start;
            }
        }

        &__header {
            align-items: center;
            font-size: 30px;
            white-space: unset;

            span {
                margin-left: 0;
                font-size: 32px;
            }
        }

        &__item {
            justify-self: center;
        }
        
        &__body {
            margin-top: 15px;
            width: 100%;

            br {
                display: none;
            }
        }

        &__col-wrapper {
            margin-top: 10px;
            width: 100%;
        }

        &__sign {
            font-size: 19px;
        }

        &__time-min {

            span{
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }

    .formats {
        padding-top: 57px;

        &__wrapper {
            grid-template-columns: 100%;
            grid-template-rows: auto;
        }

        &__header {
            width: 225px;
            font-size: 20px;

            span {
                font-size: 20px;
            } 
        }

        &__body {
            width: 100%;
            font-size: 13px;
        }

        &__item {
            width: 100%;
        }

        &__icon {
            margin-right: 0;
            height: auto;
        }

        &__col-wrapper {
            width: 100%;
        }

        &__sign {
            align-self: flex-start;
            font-size: 14px;

            &_s-visible {
                display: block;
            }

            &_s-hidden {
                display: none;
            }

            &::before {
                top: -2px;
                right: -17px;
                width: 16px;
                height: 20px;
            }
        }

        &__price-descr {
            font-size: 14px;
            text-align: right;
        }

        &__price-cost {
            margin-top: 4px;
            text-align: right;
            font-size: 26px;
        }

        &__time-descr {
            font-size: 14px;
        }

        &__time-min {
            margin-top: 4px;
            font-size: 26px;

            span{
                font-size: 20px;
            }
        }

        &__overlay {
            right: -10px;
        }

        &__unavailable {
            font-size: 25px;
            width: 250px;
        }
    }
}
