.diploms {
    padding-top: 160px;

    &__slider {
        position: relative;
        width: 966px;
        margin: 42px 0 0 23px;
    }

    &__img {
        width: auto;
        height: 689px;
        aspect-ratio: 4 / 3;
        margin: 0 auto;

        object-fit: cover;
    }

    &__wrapper {
        position: relative;
    }
}

//slick

.slick-slider {
    touch-action: auto;
}

.slick-arrow {
    border: none;
}

.arrow_prev, .arrow_next {
    @include arrows;
}

.arrow_prev {
    right: 229px;
}

// popup

.mfp-close {
    img {
        width: 25px;
        height: 25px;
    }
}
