@media (max-width: 1439px) {

}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {

    .aside {
        &__menu {
            width: 100%;
        }
    }
}
@media (max-width: 767px) {                     

    .aside {
        &__menu {
            width: 100%;
        }
    }
}
@media (max-width: 576px) {

    .aside {
        &__menu {
            width: 100%;
        }
    } 
}