@media (max-width: 1439px){
}
@media (max-width: 1200px){
}
@media (max-width: 992px){
    .aside {
        &__menu {
            padding: 70px 95px;
            width: 100%;
        }
    }
}
@media (max-width: 767px) { 
    .aside {
        &__menu {
            padding: 90px 95px
        }

        &__link {
            font-size: 28px;
        }
    }
    
}
@media (max-width: 576px) {

    .aside {
        &__menu {
            padding: 160px 5px 0 5px
        }

        &__list {
            
            li {
                padding: 30px 0;
            }
        }

        &__link {
            font-size: 24px;
        }

        &__close-circle {
            top: -45px;
            right: -45px;
            width: 140px;
            height: 140px;
        }

        &__mark {
            margin-right: 25px;
        }
    }
}

@media (max-width: 375px) {
    .aside {

        &__link {
            font-size: 24px;  
        }
    }
}