<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Психолог-консультант</title>
        <meta name="title" content="Психологогия, саморазвитие">
        <meta name="description" content="Услуги по оказанию психологической помощи, консультации">
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" >
        <meta property="og:url" content="https://siegerus.github.io/psycho_project/">
        <meta property="og:title" content="Психолог-консультант"> 
        <meta property="og:description" content="Психологогия, саморазвитие">
        <meta property="og:image" content="img/main_photo.jpg">
        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://siegerus.github.io/psycho_project/">
        <meta property="twitter:title" content="Психолог-консультант">
        <meta property="twitter:description" content="Психологогия, саморазвитие">
        <meta property="twitter:image" content="img/main_photo.jpg">

        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        @@include('../blocks/modules/aside/aside.html')
        @@include("../blocks/modules/header/header.html")
        @@include("../blocks/modules/promo/promo.html")
        @@include("../blocks/modules/direction/direction.html")
        @@include("../blocks/modules/whom/whom.html")
        @@include("../blocks/modules/diploms/diploms.html")
        @@include("../blocks/modules/formats/formats.html")
        @@include("../blocks/modules/feed-form/feed-form.html")
        @@include("../blocks/modules/reviews/reviews.html")
        @@include("../blocks/modules/register/register.html")
        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/modal/modal.html")
        <script src="js/vendor.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>