@media (max-width: 1439px) {
    .container {
        max-width: 1200px;
    }

}
@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }
    .reviews {
        &__subtitle {
            font-size: 24px;
    
            span {
                font-size: 26px;
            }
        }

        &__item {
            margin-bottom: 90px;
        }
        &__content {
            padding-right: 97px;
            margin-top: 50px;
            display: none;
            flex-direction: column;
            align-items: flex-start;
    
            &_active {
                display: flex;
            }
        }

    }
    
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .reviews {

        &__button {
            &:hover {
                box-shadow: none;
                background-color: #ffff;
            }
        }
    }
    
}
@media (max-width: 768px) {                     
                                                     
    .container {
        max-width: 540px;
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}