@media (max-width: 1439px) {

    .container {
        max-width: 1200px;
    }

}
@media (max-width: 1200px) {

    .container {
        max-width: 968px;
    }

    .reviews {

        &__subtitle {
            font-size: 24px;
    
            span {
                font-size: 26px;
            }
        }

        &__item {
            margin-bottom: 90px;
        }

        &__content {
            padding-right: 97px;
            margin-top: 50px;
            display: none;
            flex-direction: column;
            align-items: center;
    
            &_active {
                display: flex;
            }
        }
    } 
}

@media (max-width: 992px) {

    .container {
        max-width: 695px;
    }

    .reviews {
        padding-top: 67px;

        &__subtitle {
            margin-top: 20px;
            font-size: 24px;
    
            span {
                font-size: 26px;
            }
        }

        &__content {
            align-items: flex-start;
            margin-top: 60px;
            padding-right: 0;
        }

        &__item {
            margin-bottom: 98px;
        }

        &__button {
            margin-top: 35px;

            &:hover {
                box-shadow: none;
                background-color: #ffff;
            }
        }

        &__arrow-prev, &__arrow-next {
        @include arrows;

        right: 65px;
        bottom: -40px;
        width: 87px;
        height: 96px;
    }

    &__arrow-prev {
        right: 155px;
    }
    }
    
}
@media (max-width: 767px) {                     
                                                     
    .container {
        max-width: 540px;
    }

    .reviews {
        padding-top: 75px;

        &__subtitle {
            margin-top: 20px;
            width: auto;
            font-size: 24px;
    
            span {
                font-size: 26px;
            }
        }

        &__content {
            align-items: center;
            margin-top: 60px;
        }

        &__body {
            width: 100%;
        }

        &__item {
            margin-bottom: 50px;
        }

        &__comment {
            margin-top: 15px;
        }

        &__request {
            margin-top: 20px;
        }

        &__header {
            height: 100px;
            align-items: center;
        }

        &__name {
            font-size: 30px;
        }

        &__mark {
            margin-right: 30px;
            width: 60px;
        }

        &__person {
            margin-right: 30px;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;

            &_m-visible {
                display: block;
            }

            &_m-hidden {
                display: none;
            }
        }

        &__arrow-prev, &__arrow-next {
        @include arrows;

        right: 65px;
        bottom: 0;
        width: 60px;
        height: 60px;
        }

        &__arrow-prev {
            right: 127px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
}

@media (max-width: 420px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }

    .reviews {
        padding-top: 290px;

        &__title {
            span {
                padding-left: 5px;
                border-left: 2px solid $main-color;
            }
        }

        &__subtitle {
            margin-top: 10px;
            font-size: 14px;

            span {
                font-size: 14px;
            }
        }

        &__button {
            margin-top: 13px;
            margin-left: 8px;
            font-size: 15px;
            border: 1px solid $main-color;
            border-radius: 100px;
            padding: 8px 39px 8px 16px;

            span {
    
                &::before {
                    right: -30px;
                    width: 25px;
                    height: 14px;
                }
            }
        }

        &__content {
            margin-top: 50px;
        }

        &__item {
            margin-bottom: 4px;
            min-height: auto;
            
            &:nth-child(2) {
                margin-top: 47px;
                margin-bottom: 75px;
            }
        }

        &__comment {
            width: 100%;
            font-size: 13px;
            margin-left: 5px;

            br {
                display: none;
            }
        }

        &__header {
            margin-left: 5px;
            height: 37px;
        }

        &__name {
            padding-top: 0;
            font-size: 18px;
        }

        &__mark {
            margin-right: 15px;
            width: 25px;
            height: 20px;
        }

        &__person {
            margin-right: 13px;
            width: 46px;
        }

        &__request {
            font-size: 10px;
        }

        &__arrow-prev, &__arrow-next {
            @include arrows;
    
            right: 20px;
            bottom: 18px;
            width: 30px;
            height: 30px;

             img {
                width: 20px;
                height: 20px;
             }
            }
    
            &__arrow-prev {
                right: 50px;
            }

        

        







    }
}