@media (max-width: 1439px) {

    .container {
        max-width: 1200px;
    }

}
@media (max-width: 1200px) {

    .container {
        max-width: 968px;
    }

    .reviews {

        &__subtitle {
            font-size: 24px;
    
            span {
                font-size: 26px;
            }
        }

        &__item {
            margin-bottom: 90px;
        }

        &__content {
            padding-right: 97px;
            margin-top: 50px;
            display: none;
            flex-direction: column;
            align-items: center;
    
            &_active {
                display: flex;
            }
        }
    } 
}

@media (max-width: 992px) {

    .container {
        max-width: 695px;
    }

    .reviews {
        padding-top: 67px;

        &__subtitle {
            margin-top: 20px;
            font-size: 24px;
    
            span {
                font-size: 26px;
            }
        }

        &__content {
            align-items: flex-start;
            margin-top: 60px;
            padding-right: 0;
        }

        &__item {
            margin-bottom: 98px;
        }

        &__button {
            margin-top: 35px;

            &:hover {
                box-shadow: none;
                background-color: #ffff;
            }
        }

        &__arrow-prev, &__arrow-next {
        @include arrows;

        right: 65px;
        bottom: -40px;
        width: 87px;
        height: 96px;
    }

    &__arrow-prev {
        right: 155px;
    }
    }
    
}
@media (max-width: 767px) {                     
                                                     
    .container {
        max-width: 540px;
    }

    .reviews {
        padding-top: 75px;

        &__subtitle {
            margin-top: 20px;
            width: auto;
            font-size: 24px;
    
            span {
                font-size: 26px;
            }
        }

        &__content {
            align-items: center;
            margin-top: 60px;
        }

        &__body {
            width: 100%;
        }

        &__item {
            margin-bottom: 50px;
        }

        &__comment {
            margin-top: 15px;
        }

        &__request {
            margin-top: 20px;
        }

        &__header {
            height: 100px;
            align-items: center;
        }

        &__name {
            font-size: 30px;
        }

        &__mark {
            margin-right: 30px;
            width: 60px;
        }

        &__person {
            margin-right: 30px;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;

            &_m-visible {
                display: block;
            }

            &_m-hidden {
                display: none;
            }
        }

        &__arrow-prev, &__arrow-next {
        @include arrows;

        right: 65px;
        bottom: 0px;
        width: 60px;
        height: 60px;
    }

    &__arrow-prev {
        right: 127px;
    }
    }
}
@media (max-width: 576px) {
    
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
}