.promo {
    position: relative;
    padding-top: 35px;
    /* &__wrapper {
        position: relative;
    } */
    &__title {
        margin: 0;
        margin-top: 64px;
        font-size: 50px;
        color: #db574d;
        text-decoration-skip-ink: none;
        text-decoration: underline;
        text-decoration-thickness: 2.5px ;
        text-underline-offset: 6px;
        line-height: 98%;
    }
    &__subtitle {
        margin: 0;
        margin-top: 15px;
        font-size: 30px;
        text-transform: uppercase;
        margin-left: 25px;
        line-height: 110%;
    }
    &__descr {
        margin-top: 5px;
        font-size: 16px;
        margin-left: 25px;
        line-height: 110%;
    }
    &__photo {
        position: absolute; 
        right: 0;
        top: 75px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__diploma {
        margin-top: 63px;
        width: 593px;
    }
    &__app {
        position: absolute;
        left: 55%;
        transform: translateX(-50%);
        top: 244px;
    }
    &__item {
        position: relative;
        margin-top: 150px;
        width: 180px;
    }
    &__img {
         width: 100%;
            height: 100%;
            object-fit: cover;
    }
    &__poem {
        padding: 0 10px;
        margin-top: 15px;
        font-size: 9px;
        line-height: 160%;
    }
    &__way {
        position: absolute;
        right: 118px;
        top: 1009px;
        font-size: 16px;
        line-height: 160%;
        width: 107px;
        /* &:before {
            content: '' ;
            background: url('../../icons/promo_arrow.svg') center (center / cover) no-repeat;
            position: absolute;
            display: block;
            z-index: 10;
            width: 20px;
            height: 164px;
            bottom: -23px;
            left: -23px;
        } */
    }
    &__arrow {
        position: absolute;
        bottom: -23px;
        left: -28px;
    }
}