@media (max-width: 1439px) {
    .container {
        max-width: 1200px;
    }

    body.modal-open {
        padding-right:0;  
    }
    .promo {
        &__photo {
            width: 540px;
        }

        &__way {
            top: 845px;
        }
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 968px;
        padding-left: 0;
    }    
    .promo {
        &__photo {
            width: 540px;
            z-index: -1;
        }

        &__app {
            top: 430px;
            left: 57%;
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 695px;
    }

    .promo {
        &__wrapper-l-visible {
            position: relative;;
        }

        &__title {
            margin-top: 80px;
            font-size: 42px;
        }

        &__subtitle {
            font-size: 26px;
        }

        &__descr {
            font-size: 15px;
            
        }
        &__photo {
        
            &_m-hidden {
                display: none;
            }
        }

        &__diploma {
            margin-top: 30px;
            width: 498px;
        }

        &__app {
            top: 215px;
            left: auto;
            right: 0;
            width: 236px;
            height: 389px;
            transform: none;
        }

        &__item {
            display: flex;
            position: relative;
            margin: 169px auto 0 auto;
            width: 475px;
        }
    
        &__img {
            max-width: 180px;
        }
    
        &__poem {
            padding: 10px 0 18px 19px;
            margin-top: 0;
            font-size: 16px;
            line-height: 160%;
        }

        &__way {
            display: none;
        }
    }
}
@media (max-width: 767px) {                     
                                                     
    .container {
        max-width: 540px;
    }

    .promo {

        &__title {
            margin-top: 80px;
            font-size: 42px;
        }

        &__subtitle {
            font-size: 26px;
        }

        &__descr { 
            max-width: 405px;
            font-size: 21px;
            line-height: 98%;
            
            &-wrap {
                max-width: 426px;
                background-color: rgba(238 237 238 / 50%);
            }

            br {
                display: none;
            }
        
        }
        &__photo { 
            width: 400px; 
        }

        &__diploma {
            width: 430px;
        }

        &__app {
            top: 213px;
            width: 186px;
            height: auto;
        }

        &__item {
            display: flex;
            position: relative;
            margin: 100px auto 0 auto;
            width: 100%;
        }
    
        &__poem {
            padding: 0 0 0 14px;
            margin-top: 0;
            font-size: 18px;
            
        }

    }

    
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}