.footer {
    padding: 148px 0 48px;

    &__circle-wrap {
        margin-bottom: 23px;
        display: flex;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__label {
        margin-top: 75px;
        align-self: flex-start;
        width: 439px;

        a {
            text-decoration: none;
            text-transform: none;
            color: #000;
        }

        h3 {
            text-align: center;
            text-transform: uppercase;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        width: 360px;
        padding-left: 14px;
    }

    &__header {
        text-transform: uppercase;
    }

    &__list {
        margin: 40px 0 94px;
        padding: 0;
        list-style-type: none;

        li {
            padding: 10px 0 10px 5px;
            font-size: 18px;
            line-height: 160%;
        }

        a {
            text-decoration: none;
            text-transform: none;
            color: #101010;
        }
    }

    &__copyright {
        font-size: 16px;
        line-height: 160%;

        span {
            margin: 0 5px;
        }
    }

    &__social {
        a {
            margin: 0 15px;
            text-decoration: none;
            text-transform: none;
            color: #101010;
            font-size: 14px;
            line-height: 120%;
        }
    }

    &__divider {
        width: calc(100% - 120px);
        height: 1px;
        background-color: $main-color;
    }
}