@media (max-width: 1439px) {
    .container {
        max-width: 1200px;
    }

}
@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }
    .footer {
        padding-top: 125px;
        &__header {
            font-size: 31px;
        }
        &__wrapper {
            /* flex-direction: column;
            align-items: flex-start; */
        }
        &__nav {
            margin-top: 100px;
        }

        &__title {
            font-size: 68px;
            line-height: 0.9;
        }

        &__subtitle {
            font-size: 24px;
            line-height: 1.6;
        }
    }

}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}
@media (max-width: 768px) {                     
                                                     
    .container {
        max-width: 540px;
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}