@media (max-width: 1439px) {
    .container {
        max-width: 1200px;
    }

}
@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }
    .modal {
        &__title {
            font-size: 45px;
            line-height: 0.9;
        }
    }

}
@media (max-width: 992px) {
    .container {
        max-width: 695px;
    }
    .header {
        &__close {

            &:hover {
                border-radius: none;
                box-shadow: none; 
                background-color: $main-color;
            }
        }
    }
}
@media (max-width: 767px) {                     
                                                     
    .container {
        max-width: 540px;
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
}