@font-face {
    font-family: 'ABeeZee';
    font-display: swap;
    src:url('../fonts/abeezee.woff') format('woff'),
        url('../fonts/abeezee.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}